<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <title>My Website - About</title>
 <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
 <h1>Rushawn Campbell</h1>
 <p>Hi There! My name is Rushawn Campbell and I am a passion-driven individual who is ready to make lives easier. I grew up in St. James, 
     Jamaica in a city known as Montego Bay. I am a proud alumnus and the top male CSEC performer of the Irwin High School in 2012 
     and US Ambassador awardee for academics. </p>
     <a href= {{url_for('home')}}>Home</a>
</body>
</html>